<div class="alert">
  <%= alert %>
</div>
<div class="notice">
  <%= notice %>
</div>
<div class="mainCont">

  <h1>Users</h1>
      
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">User Id</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Admin</th>
        <th scope="col">Premium</th>
        <th scope="col">Name</th>
        <th scope="col">Picture</th>
        <th scope="col">Bio</th>
        <th scope="col">Is Admin</th>
        <th scope="col">Is Premium</th>
        <th scope="col">Profile</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td><%= user.admin %></td>
          <td><%= user.premium %></td>
          <td><%= user.fname.to_s + " " + user.lname.to_s %></td>
          <td><%= user.pic %></td>
          <td><%= user.bio %></td>
          <td class="toggle">
            <% if user.admin? %>
              <a href="/downgrade/<%= user.id %>"><%= image_tag("tick.png") %></a></td>
            <% else %>
              <a href="/upgrade/<%= user.id %>"><%= image_tag("red-x.png") %></a></td>
            <% end %>
          </td>
          <td class="toggle">
            <% if user.premium? %>
              <a href="/notprem/<%= user.id %>"><%= image_tag("tick.png") %></a></td>
            <% else %>
              <a href="/prem/<%= user.id %>"><%= image_tag("red-x.png") %></a></td>
            <% end %>
          </td>
          <td><a href="users/<%= user.id %>">View</a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

  
