<div class="profile">
    <h1><%= @name %></h1>
    <p>
        <% if showPic(current_user.id, @creator.id) %>
            <image src="<%= url_for(@creator.avatar) %>">
         <% else %>
            <%= image_tag("ph.png") %>
         <% end %>
    </p>
    
    <div class="bio">
        <h2>Bio</h2>
        <p><%= @b3 ? @creator.bio : "Add this user as a friend to see their bio" %></p>
    </div>

    <% if !@b3 && !@frs %>
        <button class="btn1" onclick="window.location.href='/users/<%= @creator.id %>/<%= @current_user.id %>'">
            <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
            </span>
            <span class="button-text">Friend Request</span>
        </button>
    <% end %>

    <!-- show user events -->
    <div class="events">
        <h2><%= @name %>'s Events</h2>
        <% if @events.count == 0 %>
            <p>This user has not created any events.</p>
        <% else %>
            <table class="table events">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Image</th>
                        <th>Public</th>
                        <th colspan="<%= @b2?3:1 %>"></th>
                    </tr>
                </thead>
            
                <tbody>
                    <% @events.each do |event| %>
                        <tr>
                            <td><%= event.name %></td>
                            <td><%= event.description %></td>
                            <td><%= event.date %></td>
                            <td><%= event.time.strftime("%I:%M %p") %></td>
                            <td>
                                <% if event.avatar.attached? %>
                                    <image src="<%= url_for(event.avatar) %>">
                                <% end %>
                            </td>
                            <td class="toggle"><%= !event.private ? image_tag("tick.png") : image_tag("red-x.png") %></td>
                            <td>
                                <button class="btn1" onclick="window.location.href='/events/<%= event.id %>'">
                                    <span class="circle" aria-hidden="true">
                                    <span class="icon arrow"></span>
                                    </span>
                                    <span class="button-text">View</span>
                                </button>
                            </td>
                            <% if @b2 %>
                                <td>
                                    <button class="btn1" onclick="window.location.href='<%= edit_event_path(event) %>'">
                                        <span class="circle" aria-hidden="true">
                                        <span class="icon arrow"></span>
                                        </span>
                                        <span class="button-text">Edit</span>
                                    </button>
                                </td>
                                <td><%= link_to 'Delete', event, method: :delete, :role=>"button", :class => "btn btn-danger mb-2", data: { confirm: 'Are you sure?' } %></td>
                            <% end %>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        <% end %>
    </div>

    <% if !(current_user.id == @creator.id)
        @userEvents = current_user.events %>
        <div class="events">
            <h2>Your Events</h2>
            <% if @userEvents.count == 0 %>
                <p>You have not created any events.</p>
            <% else %>
                <table class="table events">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Image</th>
                            <th colspan="1"></th>
                        </tr>
                    </thead>
                
                    <tbody>
                        <% @userEvents.each do |event| %>
                            <tr>
                                <td><%= event.name %></td>
                                <td><%= event.description %></td>
                                <td><%= event.date %></td>
                                <td><%= event.time.strftime("%I:%M %p") %></td>
                                <td>
                                    <% if event.avatar.attached? %>
                                        <image src="<%= url_for(event.avatar) %>">
                                    <% end %>
                                </td>
                                <td>
                                    <% if !isInvited(event.id, @creator.id) %>
                                        <button class="btn1" onclick="window.location.href='/events/<%= event.id %>/<%= @creator.id %>/1'">
                                            <span class="circle" aria-hidden="true">
                                            <span class="icon arrow"></span>
                                            </span>
                                            <span class="button-text">Invite User</span>
                                        </button>
                                    <% else %>
                                        <p>This user has been invited.</p>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            <% end %>
        </div>
    
    <% end %>
    
    <% if @b2 %>
        <td>
            <button class="btn1" onclick="window.location.href='<%= edit_user_registration_path %>'">
                <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
                </span>
                <span class="button-text">Edit Profile</span>
            </button>
        </td>
    <% end %>
</div>
