<%= getProfileL(@creator.id) %>

<div class="clear"></div>
<!-- show user events -->
<div class="events">
    <h2><%= @name %>'s Upcoming Events</h2>
    <% if @events.count == 0 %>
        <p>This user has not created any upcoming events.</p>
    <% else %>
        <% @events.each do |e| %>
            <%= getEventMd(e, @creator.id) %>
        <% end %>
    <% end %>
</div>
<div class="clear"></div>

<% if !(current_user.id == @creator.id)
    @userEvents = getUnfinishedEvents(current_user.id) %>
    <div class="events">
        <h2>Your Upcoming Events</h2>
        <% if @userEvents.count == 0 %>
            <p>You have not created any upcoming events.</p>
        <% else %>
            <% @userEvents.each do |e| %>
                <%= getEventMd(e, @creator.id) %>
            <% end %>
        <% end %>
    </div>
<% end %>
<div class="clear"></div>

<!-- show user past events -->
<div class="events">
    <h2><%= @name %>'s Past Events</h2>
    <% if @endedEvents.count == 0 %>
        <p>This user does not have any past events.</p>
    <% else %>
        <% @endedEvents.each do |e| %>
            <%= getEventMd(e, @creator.id) %>
        <% end %>
    <% end %>
</div>
<div class="clear"></div>

<% if @b2 %>
    <a class="btn btn-warning" href="<%= edit_user_registration_path %>">Edit Profile</a>
<% end %>
