<h1>Friends</h1>

<div class="form-wrapper">
  <%= form_tag(friends_path, method: :get, class: "form") do %>
    </div class="col-xs-8">
      <div class="field">
        <%= text_field_tag(:search, params[:search]) %>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="actions">
        <%= submit_tag ("Search") %>
      </div>
    </div>
  <% end %>
</div>

<% if params[:search] != nil %>
    <p>Your search for "<%= params[:search] %>" yielded <%= @friends.count %> friend<%= @friends.count != 1 ? "s" : "" %>.</p>
<% end %>

<% if @friends.count == 0 %>
  <p>You have not made any friends here yet.</p>
<% else %>
  <% @friends.each do |friend| %>
    <%= getFriendSm(friend.id) %>
  <% end %>
<% end %>

<div class="clear"></div>
