<p id="notice"><%= notice %></p>

<h1>Friends</h1>


<% @friends.each do |friend| %>
  <% @friend = User.find_by(id: friend.friend_id)
    @name = @friend.fname.to_s + " " + @friend.lname.to_s
    @name = @name.eql?(" ") ? @friend.username.to_s : @name
    @pic = getPic(current_user.id, @friend.id)
  %>
  <a href="/users/<%= @friend.id %>">
    <div class="friend-profile-sm">
      <p><%= @name %></p>
      <p>
      <% if @friend.avatar.attached? %>
          <image src="<%= url_for(@friend.avatar) %>">
      <% else %>
          <%= image_tag("ph.png") %>
      <% end %>
      </p>
      <% if @b1
        @f2 = User.find_by(id: friend.user_id)
        @name = @f2.fname.to_s + " " + @f2.lname.to_s
        @name = @name.eql?(" ") ? @f2.username.to_s : @name
      %>
        <p>Friends with <%= @name %></p>
      <% end %>
    </div>
  </a>
<% end %>
