<h1>Friends</h1>

<div class="col-xs-12 col-md-12">
  <div class="form-wrapper">
    <%= form_tag(friends_path, method: :get, class: "form") do %>
      <div class="field col-xs-8">
        <%= text_field_tag(:search, params[:search]) %>
      </div>
      <div class="actions col-xs-4">
        <%= submit_tag ("Search") %>
      </div>
    <% end %>
  </div>
</div>

<div class="clear gap"></div>

<% if params[:search] != nil %>
    <p>Your search for "<%= params[:search] %>" yielded <%= @friends.count %> friend<%= @friends.count != 1 ? "s" : "" %>.</p>
<% end %>

<% if @friends.count == 0 %>
  <p>You have not made any friends here yet.</p>
<% else %>
  <% @friends.each do |friend| %>
    <%= getFriendSm(friend.id) %>
  <% end %>
<% end %>

<div class="clear"></div>
