<p id="notice"><%= notice %></p>

<h1>Notifications</h1>

<% if @notifications.count == 0 %>
  <p>There are no notifications to display</p>
<% else %>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Desc</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @notifications.each do |notification| %>
        <tr>
          <td><%= notification.title %></td>
          <td><%= notification.desc %></td>
          #friend request
          <% if notification.type == 1 || notification.type == 3 %>
            <td><%= link_to 'Show', notification %></td>
            <td><%= link_to 'Accept', '/notifications/' + notification.id.to_s + '/' + notification.type.to_s %></td>
          <% end %>
          <td><%= link_to 'Delete', notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
