<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @notification.title %></td>
      <td><%= @notification.desc %></td>
      <% if @notification.notification_type == 1 || @notification.notification_type == 3 %>
        <% if @notification.notification_type == 1 %>
          <td><%= link_to 'Show User', User.find_by(id: @notification.sender_id) %></td>
        <% else %>
          <td><%= link_to 'Show Event', Event.find_by(id: @notification.sender_id) %></td>
        <% end %>
        <td><%= link_to 'Accept', '/notifications/' + @notification.id.to_s + '/' + @notification.notification_type.to_s %></td>
      <% end %>
      <td><%= link_to 'Delete', @notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>
</table>
<%= link_to 'Back', notifications_path %>
