<div class="form-wrapper">
  <%= form_with(model: event, local: true, class: "form") do |form| %>
    <% if event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul>
          <% event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, required: true %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_field :description %>
    </div>

    <div class="field">
      <%= form.label :date %>
      <div class="selects">
        <%= form.date_select :date, start_year: Date.today.year %>
      </div>
    </div>

    <div class="field">
      <%= form.label :time %>
      <div class="selects">
        <%= form.time_select :time %>
      </div>
    </div>

    <h3>Address</h3>
    <div class="field">
      <%= form.label :Street %><br />
      <%= form.text_field :street, autocomplete: "street", required: true %>
      <%= form.label :City %><br />
      <%= form.text_field :city, autocomplete: "city", required: true %>
      <%= form.label :"State/County" %><br />
      <%= form.text_field :state, autocomplete: "state", required: true %>
      <%= form.label :Country %><br />
      <%= form.text_field :country, autocomplete: "country", required: true %>
    </div>

    <div class="field">
      <%= form.label :"Event Picture" %>
      <br>
      <% if event.avatar.attached? %>
        <img src="<%= url_for(event.avatar) %>">
      <% else %>
        <%= image_tag("eph.png") %>
      <% end %>
      <%= form.file_field :avatar %>
    </div>

    <div class="field">
      <%= form.label :private %>
      <%= form.check_box :private %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
