<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table class="events">
  <thead>
    <tr>
      <th>Event ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Date</th>
      <th>Time</th>
      <th>Pic</th>
      <th>Creator</th>
      <th>View Event</th>
    </tr>
  </thead>

  <tbody>
    <%= will_paginate @events %>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.id %></td>
          <td><%= event.name %></td>
          <td><%= event.description %></td>
          <td><%= event.date %></td>
          <td><%= event.time.strftime("%I:%M %p") %></td>
          <td><%= image_tag(event.pic) %></td>
          <%
          @name = User.all.find(event.user_id).username
          if @b1
              @name = User.all.find(event.user_id).fname + " " + User.all.find(event.user_id).lname
          end
          %>
          <td><%= link_to @name, '/users/' + event.user_id.to_s %></td>
          <td><%= link_to 'View', event %></td>
        </tr>
      <% end %>
    <%= will_paginate @events %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
