<div class="col-xs-12 col-md-6">
  <div class="form-wrapper">
    <%= form_tag(events_path, method: :get, class: "form") do %>
      <div class="field col-xs-8">
        <%= text_field_tag(:search, params[:search]) %>
      </div>
      <div class="actions col-xs-4">
        <%= submit_tag ("Search") %>
      </div>
    <% end %>
  </div>
</div>

<% if isSignedIn %>
  <% @loc = addrSet(@cuid, "u") %>
  <div class="col-xs-12 col-md-6">
    <div class="form-wrapper">
      <%= form_tag(events_path, method: :get, class: "form") do %>
        <div class="field" hidden="true">
          <%= text_field_tag(:nearby, params[:nearby], value: true) %>
        </div>
        <%= !@loc ? "<p class='red'>You have not set a location yet! <a class='btn btn-success' href='/users/edit'>Set Your Location</a></p>".html_safe : "" %>
        <div class="actions">
          <%= submit_tag ("Find Events Near Me"), disabled: !@loc %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="clear gap"></div>

<% if params[:search] != nil %>
  <p>Your search for "<%= params[:search] %>" yielded <%= @events.count %> result<%= @events.count != 1 ? "s" : "" %>.</p>
<% elsif params[:nearby] == "true" %>
  <p>Your search for events in <%= current_user.state %>, <%= current_user.country %> yielded <%= @events.count %> result<%= @events.count != 1 ? "s" : "" %>.</p>
<% end %>

<% @events.each do |event| %>
  <%= getEventMd(event.id, nil) %>
<% end %>
<%= will_paginate @events %>

<div class="clear"></div>

<a class="btn btn-success" href="/events/new">Create New Event</a>
<div class="clear"></div>
