<h1>My Events</h1>
<h2>Events Created</h2>
<% if @events1.count == 0 %>
    <p>You have not created any upcoming events.</p>
<% else %>
    <% @events1.each do |event| %>
        <%= getEventMd(event.id, nil) %>
    <% end %>
<% end %>
<%= will_paginate @events1 %>
<div class="clear"></div>

<h2>Attending</h2>
<% if @events2.count == 0 %>
    <p>You are not attending any upcoming events.</p>
<% else %>
    <% @events2.each do |event| %>
        <%= getEventMd(event.id, nil) %>
    <% end %>
<% end %>
<%= will_paginate @events2 %>
<div class="clear"></div>

<h2>Invited</h2>
<% if @events3.count == 0 %>
    <p>You have not been invited to any events.</p>
<% else %>
    <% @events3.each do |event| %>
        <%= getEventMd(event.id, nil) %>
    <% end %>
<% end %>
<%= will_paginate @events3 %>
<div class="clear"></div>

<h2>Past Events</h2>
<% if @events4.count == 0 %>
    <p>You do not have any past events.</p>
<% else %>
    <% @events4.each do |event| %>
        <%= getEventMd(event.id, nil) %>
    <% end %>
<% end %>
<%= will_paginate @events4 %>
<div class="clear"></div>