<p id="notice"><%= notice %></p>

<div class="event">
  <p>
    <strong>Name:</strong>
    <%= @event.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @event.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @event.date %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= @event.time.strftime("%I:%M %p") %>
  </p>

  <p>
    <% if @event.avatar.attached? %>
      <image src="<%= url_for(@event.avatar) %>">
    <% end %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= !@event.private %>
  </p>
  
  <p>
    <strong>Event Creator:</strong>
    <%= link_to @name, '/users/' + @event.user_id.to_s %>
  </p>

  <h2>Attending: <span class="count"><%= @attending.count %></span></h2>
  <% @attending.each do |attender|
    @user = User.find_by(id: attender.user_id)
    @name = getName(current_user, @user)
    @pic = showPic(current_user, @user) %>
    <p><%= @name %></p>
    <p>
      <% if @pic %>
        <img src="<%= url_for(@user.avatar) %>" />
      <% else %>
        <%= image_tag("ph.png") %>
      <% end %>
    </p>
  <% end %>
  <% if !isAttending(@event.id, current_user.id) %>
  <button class="btn1" onclick="window.location.href='/events/<%= @event.id %>/1'">
      <span class="circle" aria-hidden="true">
      <span class="icon arrow"></span>
      </span>
      <span class="button-text">Attend</span>
  </button>
  <% end %>

  <% if @b2 %>
    <button class="btn1" onclick="window.location.href='<%= edit_event_path(@event) %>'">
        <span class="circle" aria-hidden="true">
        <span class="icon arrow"></span>
        </span>
        <span class="button-text">Edit</span>
    </button>
    <%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <button class="btn1" onclick="window.location.href='javascript: history.go(-1)'">
      <span class="circle" aria-hidden="true">
      <span class="icon arrow left"></span>
      </span>
      <span class="button-text">Back</span>
  </button>
</div>
